*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.env.*.local
!.env.example*
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
# /public/build  # Comentado para permitir deploy dos assets do Vite
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
exemplos/*

deploy-stg
deploy-stg.pub
*.docx
